#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

#define HOMEROW 0
#define DEFAULT 1
#define HOMEROW_LEFT 2
#define HOMEROW_RIGHT 3
#define FUNCTION 4
#define NAV 5
#define MOD 6

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <190>;
            quick_tap_ms = <125>;
            global-quick-tap;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        lb: balanced_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "BALANCED_LAYER_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <185>;
            quick-tap-ms = <135>;
            global-quick-tap;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        shift2 {
            bindings = <&kp RSHFT>;
            key-positions = <42 43 41>;
        };

        esc2 {
            bindings = <&kp ESCAPE>;
            key-positions = <30 31 32>;
        };

        tab2 {
            bindings = <&kp TAB>;
            key-positions = <32 30 17>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        homerow_layer {
            bindings = <
&hm F1 EQUAL  &hm F2 N1   &hm F3 N2   &hm F4 N3    &hm F5 N4    &hm F6 N5  &kp CAPSLOCK                                                  &kp UNDER        &hm F7 N6  &hm F8 N7    &hm F9 N8    &hm F10 N9  &hm F11 N0     &hm F12 MINUS
&kp TAB       &kp Q       &kp W       &kp E        &kp R        &kp T      &kp INS                                                       &hm GRAVE RSHFT  &kp Y      &kp U        &kp I        &kp O       &kp P          &kp BSLH
&kp ESC       &hm LGUI A  &hm RALT S  &hm LSHFT D  &hm LCTRL F  &kp G      &kp GRAVE     &kp LCTRL   &mo 3         &kp LGUI   &kp RCTRL  &kp DQT          &kp H      &hm RCTRL J  &hm RSHFT K  &hm LALT L  &hm RGUI SEMI  &kp SQT
&mo 2         &kp Z       &kp X       &kp C        &kp V        &kp B                                &kp HOME      &kp PG_UP                              &kp N      &kp M        &kp COMMA    &kp DOT     &kp FSLH       &mo 2
&mo 4         &kp GRAVE   &lb 1 SEMI  &kp LEFT     &mo 3                   &kp BSPC      &kp DELETE  &kp END       &kp PG_DN  &kt ENTER  &kp SPACE                   &kp UP       &kp DOWN     &kp LBKT    &kp RBKT       &sk RSHFT
            >;
        };

        default_layer {
            display-name = "Base";
            bindings = <
&tog 0     &kp N1     &kp N2  &kp N3    &kp N4     &kp N5  &kp ESC                                                        &kp UNDER    &kp N6  &kp N7  &kp N8     &kp N9    &kp N0    &kp MINUS
&kp TAB    &kp Q      &kp W   &kp E     &kp R      &kp T   &kp INS                                                        &kp TILDE    &kp Y   &kp U   &kp I      &kp O     &kp P     &kp BSLH
&kp EQUAL  &kp A      &kp S   &kp D     &kp F      &kp G   &kp GRAVE      &kp LCTRL   &mo 4         &kp LGUI   &kp RCTRL  &kp DQT      &kp H   &kp J   &kp K      &kp L     &kp SEMI  &kp SQT
&mo 2      &kp Z      &kp X   &kp C     &kp V      &kp B                              &kp HOME      &kp PG_UP                          &kp N   &kp M   &kp COMMA  &kp DOT   &kp FSLH  &mo 2
&kp LSHFT  &kp GRAVE  &trans  &kp LEFT  &kp RIGHT          &kp BACKSPACE  &kp DELETE  &kp END       &kp PG_DN  &kp ENTER  &lb 0 SPACE          &kp UP  &kp DOWN   &kp LBKT  &kp RBKT  &kp RSHFT
            >;
        };

        fn {
            display-name = "Fn";
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &trans                                      &trans  &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans                  &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans  &trans   &trans   &trans
            >;
        };

        navigation_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &trans    &trans    &trans  &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &trans    &trans    &trans  &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans                  &trans    &trans    &trans  &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans            &trans    &trans  &trans     &trans  &trans
            >;
        };

        mod {
            display-name = "Mod";
            bindings = <
&none           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none                                                  &trans           &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none         &none         &bootloader                                            &bootloader      &none  &none       &none       &none  &none  &none
&studio_unlock  &none         &none         &none         &none         &none         &none        &none  &none      &bt BT_CLR  &none       &none            &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none         &none                             &none      &none                                    &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none                       &none        &none  &none      &none       &bl BL_TOG  &rgb_ug RGB_TOG         &bl BL_INC  &bl BL_DEC  &none  &none  &none
            >;
        };
    };
};
